.button, input[type="submit"] {
	background: #FFFFFF;
	border: solid;
	border-color: #88CCFF;
	border-width: 2px;
	margin: 12px;
	padding: 5px 5px 5px 5px;
	min-width: 12px;
	text-align: center;
	cursor: pointer;
	opacity: 1;
}
.button:hover  {border-color: #0099FF;}
.button:active {border-color: #FFAA00; background: #FFFFFF;}

input[type="submit"]:hover  {border-color: #0099FF;}
input[type="submit"]:active {border-color: #FFAA00; background: #FFFFFF;}

a .button       {color: #111111;}
a .button:hover  {color: #111111;}
a .button:active {color: #111111;}

.pageButtonSelected {
	background: #111111;
	border-color: #FFAA00;
	color: #FFAA00;
	font-weight: bold;
}

.headerButtons {
	float: left;
	width: 33.1%;
	height: 48px;
	
	background-color: #040404;
	border: solid #D9D9D9;
	border-width: 1px 1px 2px 1px;
	
	line-height: 48px;
	
	font-family: Geneva, sans-serif;
	font-size: 24px;
	
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.headerButtonContainer {
	margin: auto;
}
