header {
	height: 48px;
	background-color: #FFFFFF;
	
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.headerChild {
	float: left;
	width: 25%;
	
	font-family:"MS Sans Serif", Geneva, sans-serif;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
}

.headerGrandchild {
	border-top: solid #B0CEF5;
	background: #FFFFFF;
	opacity: 0.9;
}
.headerGrandchild ul li:hover {
	background: #B0CEF5;
}
.headerGrandchild ul li:active {
	background: #7EA9E0;
}

.headerButton {
	width: 100%;
	height: 100%;
}
