.rightContainer {
	background-color: white;
}

#profileContainer {
	display: block;
	margin: 16px;
}

#profileInfoContainer {
	background-color: rgba(255, 255, 255, 0.4);
}

#profileInfoLeft {
	float: left;
	width: 265px;
	height: 265px;
}

#profileInfoPic {
	border: double 6px #111111;
	width: 256px;
	height: 256px;
}

#profileInfoRight {
	margin-top: 16px;
	overflow: hidden;
}

#profileInfoRightInner {
	padding-left: 16px;
}

#profileInfoDetailsName {
	border-bottom: solid 1px #FFAA00;
	margin-right: 16px;
}

#profileInfoDetails {
	margin-top: 5px;
}

#profileInfoDetails th {
	text-align: left;
	padding: 5px;
	margin-right: 5px;
}

#profileInfoRight ul li {
	padding-bottom: 5px;
	font-family: sans-serif;
	font-size: 16px;
}

#profileInfoRight h3 {
	padding: 16px 0px 5px 0px;
}
#profileInfoBio {	
	font-family: sans-serif;
	font-size: 16px;
	clear: both;
	padding-left: 16px;
	padding-bottom: 16px;
}

#profileInfoEdit {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 16px;
	margin-bottom: 5px;
	clear: both;
}
#profileInfoEditLeft {
	float:left;
	width:50%;
	margin:5px;
}

/*========= ACCOUNT MANAGEMENT ==========*/
#profileInfoEditTable, #profileNotifications, #profileMessageBoard. #profileStatus {
	display: none;
}

/*========= ACCOUNT MANAGEMENT EDIT INFO ==========*/
#profileInfoEditTable {
	width: 100%;
	clear: both;
	margin-top: 16px;
}

#profileInfoEditTable td {
	padding: 16px;
	line-height: 18px;
}
#profileInfoEditTable td b {
	font-size: 20px;
	margin-bottom: 8px;
	display: inline-block;
}

.profileManagementSubmit {
	text-align: center;
}

/*========= ACCOUNT MANAGEMENT ACCOUNT STATUS ==========*/
#profileStatus {
	width: 100%;
	clear: both;
	margin-top: 16px;
}

#profileStatusDetailsContainer {
	width: 90%;
	margin: auto;
	border-bottom: solid 2px #B0CEF5;
	padding-top: 16px;
}

#profileStatusDetailsTable {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 5px;
}
#profileStatusDetailsTable tr td {
	text-align: center;
}


/*========= ACCOUNT MANAGEMENT HEADER BUTTONS ==========*/
#profileManagementButtonContainer {
	height: 48px;
	
	position: relative;
	left: 0;
	right: 0;
	top: 0;
}

.profileManagementButton {
	float: left;
	width: 25%;
	height: 48px;
	cursor: pointer;
	
	background-color: #111111;
	border-bottom: solid 4px #111111;
	
	font-family:"MS Sans Serif", Geneva, sans-serif;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.profileManagementButton:hover {
	border-color: #B0CEF5;
	color: #B0CEF5;
}
.profileManagementButton:active {
	border-color: orange;
	color: orange;
}

.profileManagementButtonSelected {
	border-color: orange;
	color: orange;
}
.profileManagementButtonSelected:hover {
	border-color: orange;
	color: orange;
}
