	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
html, body{
	background-image:url("../img/mLOQIBN - Imgur.jpg");
	background-size: 100%;
	background-attachment:fixed;
	margin:0px;
	padding:0px;
		  }
#wrapper {
	margin:auto;
	width:100%;
}

#containerDeev{
	margin:auto;
	min-width:900px;
	padding-left:64px;
	padding-right:64px;
	padding-top:55px;
	display: block;
	font: sans-serif;
		}
.rightContainer{
	float:right;
	min-width:720px;
	width:80%;	
				}
				
#rightContainerTwo{
	float:right;
	min-width:720px;
	width:80%;
		}
		

#leftContainer{
	float:left;
	min-width:180px;
	width:20%;
	opacity:1;
			  }
#slideshow{
	background:white;
	width:100%;	
	margin:auto;
		  }
	
#slideshow img{
	width:100%;
	height:100%;
}
#logo{
	width:95%;
	margin:auto;
}
#logo img{
	width:100%;	
	 }
	 
#leftSidebar {
	width: 95%;
	margin:auto;
	margin-top: 5px;
	background-color:#FFFFFF;
	opacity:0.9;
}

#accountImage {
	width: 128px;
	height: 128px;
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 16px;
	float: left;
}

#accountImage img {
	width: 100%;
	height: 100%;
	border: black thick;
	border-radius: 10px;
}

#accountDetails {
	float: left;
	margin-top: 24px;
	margin-bottom: 16px;
}

#accountInfo {
	margin: 16px;
}
#accountInfo p {
	padding-top: 6px;
}

.center {
	margin: auto;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}

h1 {
	font-family:"Monofett",cursive;
	font-size: 42px;
	color: black;
}
h2 {
	font-family:"MS Sans Serif", Geneva, sans-serif;
	font-size: 32px;
	color black;	
	line-height: 48px;
	padding-left: 16px;
}
h3 {
	font-family:"MS Sans Serif", Geneva, sans-serif;
	font-size: 18px;
	color black;	
	padding-left: 16px;
}
a {
	text-decoration: none;
	color:black;
}

.contentBoxContainer {
	float:right;
	margin-top:5px;
	width: 100%;
	background-color:#FFFFFF;
	opacity:0.9;
	position: relative;
	overflow-y:hidden;
				     }
				     
#contentContainer {
	
	float: left;
	width:75%;
}

#rightSidebarContainer {
	float: right;
	width:25%;
	margin-top: 5px;
}
				    
#rightSidebar {
	padding:10px;
	margin-left: 5px;
	background-color:#FFFFFF;
	opacity:0.9;
}
.contentBoxPicture{
	float:left;
	padding:5px;
	width:25%;
	display: inline block;
}
.contentBoxPicture img{
	width:100%;
	border: solid black 3px;
}
.readMore {
	position: absolute;
	right: 12px;
	bottom: 12px;
	cursor: pointer;
}
.contentBoxText{
	margin-left:27%;
	padding:5px;
	padding-top:15px;
	padding-bottom:32px;
	width:70%;
	display: inline block;
}
img {width: 100%:}
#exampleSlider {overflow: hidden; list-style: none; padding: 0; margin: 0;}
.content {display:none;}

.contentExtra {
	display:none;
	padding-top:250px;
	width:100%;
}
.hide {
    display:none;
    padding:10px;
    float:right;
    padding-bottom:20px;
}

.contentMore {
	clear: both;
	margin: 5px;
	padding-bottom: 32px;
}


