	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
html, body{
	background-image:url(/img/fake background.png)
	margin:0px;
	padding:0px;
		  }
#wrapper {
	margin:auto;
	width:100%;
}
.innerHeader{
	   	padding: 35px 40px;
	   		}
.navOpacityCheatyFix{
	opacity:0.7;
	position:absolute;
	background-color:#ffffff;
	height:50px;
	width:100%;
	top:0px;
	left:0px;
	display:block;
	   }
.nav{
	position:fixed;
	height:50px;
	width:100%;
	top:0px;
	left:0px;
	opacity: 0.3;
	background-color:#FFFFFF;
	   }
.nav:hover{
	opacity:1;
}
.navContainer{
	float:left;
	margin:0px;
	padding:0px;
	position:relative;
	height:100%;
	width:25%;
	text-align:center;
	line-height:50px;
	display:inline-block;
	overflow-y:hidden;
	 }
.navContainer:hover{
	opacity:1;
	height: 250px;
	}
.navButton{
	position:relative;
	text-align:center;
	line-height:50px;
	}
.navButton:hover{
	background-color:#2B56CC;
	opacity:1;
}
.navInnerContainer{
	margin:auto;
	width:70%;
}
.navInnerButton{
	position:relative;
	text-align:center;
	border-left: solid 1px white;
	border-right: solid 1px white;
	padding:2px;
	height:25px;
	line-height:25px;
	background-color:#2B71CC;
}
.navInnerButton:hover{
	background-color:#2B56CC;
	opacity:1;
}
.navLastInnerButton{
	position:relative;
	text-align:center;
	border-left: solid 1px white;
	border-right: solid 1px white;
	border-bottom: solid 1px white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:2px;
	height:25px;
	line-height:25px;
	background-color:#2B71CC;
}
.navLastInnerButton:hover{
	background-color:#2B56CC;
	opacity:1;
}

#containerDeev{
	margin:auto;
	min-width:900px;
	padding-left:64px;
	padding-right:64px;
	padding-top:48px;
	display: block;
	font: sans-serif;
		}
#rightContainer{
	float:right;
	min-width:720px;
	width:80%;
	background:#710909;
				}
#leftContainer{
	float:left;
	min-width:180px;
	width:20%;
	height:405px;
	background:#0D3349;
			  }
#slideshow{
	width:95%;
	height:405px;
	margin:auto;
	background-color:#008000;
		  }
	
#slideshow img{
	width:100%;
}

